.goods {
  &__body {
    width: 234px;
    height: 320px;
    padding-inline: 24px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: relative;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  &__img {
    align-self: center;
    //display: block;
    width: 150px;
    height: 150px;
  }
  &__rating {
    width: 152px;
    height: 30px;
    line-height: 30px;
  }

  &__title {
    width: 185px;
    height: 65px;
    line-height: 65px;
    overflow: hidden;
  }

  &__price {
    width: 185px;
    height: 75px;
    font-weight: 600;
    font-size: 18px;
    line-height: 75px;
    font-variant-numeric: tabular-nums;
    letter-spacing: 0.5px;
  }
}
