@charset "UTF-8";
/** Нормализация блочной модели */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
:root {
  --white-color: #ffffff;
  --black-color: #020202;
  --blue-color: #0156ff;
  --red-color: #c94d3f;
  --light-blue-color: #f5f7ff;
  --light-grey-color: #cacdd8;
  --dark-grey-color: #a2a6b0;
  --yellow-color: #e9a426;
  --border-filter-2px: 2px, solid var(--light-grey-color);
  --border-filter-1px: 1px, solid var(--light-grey-color);
  --border-radius-btn: 50px;
  --font-family-base: "Poppins", sans-serif;
  --container-width: 1398px;
  --btn-hight-small: 37px;
  --btn-hight-average: 50px;
  --transition-duration: 0.2s;
}

/* 
a {
  @include reset-link();
} 
  */
/* 
a {
    color: inherit;
  }
  a, a:hover {
    text-decoration: none;
  } 
    */
/* 
selector{
    @extend %reset-btn
}
     */
.product__main__filter, .product, .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 13px;
  line-height: 1.28;
  color: var(--black-color);
  background-color: var(--white-color);
  width: 100vw;
}

a,
input,
button,
svg * {
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
a, a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: var(--container-width);
  margin-inline: auto;
}

.visually-hidden {
  display: none;
}

.header {
  height: 44px;
  min-width: 100vw;
  background-color: var(--black-color);
}

.search {
  gap: 25px;
  margin-block: 16px;
}
.search__input {
  width: 1126px;
  height: 60px;
  border-radius: 31px;
  padding: 30px;
  background-color: var(--light-blue-color);
  border: none;
}
.search__btn {
  border: 0px solid var(--white-color);
  background-color: var(--white-color);
  padding: auto;
  color: var(--blue-color);
  width: 19px;
  aspect-ratio: 1;
}
.search__btn:hover {
  color: var(--dark-grey-color);
}
.search__profile__img {
  border-radius: 50%;
}

.product {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.product__filters {
  width: 234px;
  height: auto;
  background-color: var(--light-blue-color);
}
.product__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.product__main__filter {
  gap: 6px;
}
.product__main__filter_btn {
  height: var(--btn-hight-small);
  min-width: 91px;
  background-color: var(--white-color);
  border: 1px solid var(--light-grey-color);
  border-radius: 2px;
  font-weight: 600;
  padding-inline: 17px;
}
.product__main__products {
  width: 1170px;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product__main__btn-add {
  width: 88px;
  height: 37px;
  color: var(--dark-grey-color);
  background-color: var(--white-color);
  border: 2px solid var(--dark-grey-color);
  border-radius: 50px;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 26px;
  margin: 45px auto;
  -ms-flex-item-align: center;
      align-self: center;
}
.product__main__btn-add:hover {
  background-color: var(--dark-grey-color);
  color: var(--white-color);
}

.goods__body {
  width: 234px;
  height: 320px;
  padding-inline: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  position: relative;
}
.goods__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.goods__img {
  -ms-flex-item-align: center;
      align-self: center;
  width: 150px;
  height: 150px;
}
.goods__rating {
  width: 152px;
  height: 30px;
  line-height: 30px;
}
.goods__title {
  width: 185px;
  height: 65px;
  line-height: 65px;
  overflow: hidden;
}
.goods__price {
  width: 185px;
  height: 75px;
  font-weight: 600;
  font-size: 18px;
  line-height: 75px;
  font-variant-numeric: tabular-nums;
  letter-spacing: 0.5px;
}

@-webkit-keyframes loading-round {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading-round {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.goods__preloader {
  width: 150px;
  height: 150px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
  -ms-flex-item-align: center;
      align-self: center;
  position: absolute;
  z-index: 200;
}
.goods__preloader__spinner {
  position: absolute;
  -webkit-animation: loading-round 1s linear infinite;
          animation: loading-round 1s linear infinite;
  width: 70px;
  height: 70px;
  top: 40px;
  left: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 0 0 var(--blue-color);
          box-shadow: 0 3px 0 0 var(--blue-color);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  z-index: 300;
}

.product__filters {
  padding-inline: 17px;
  padding-block: 20px;
}
.product__filters__list {
  font-weight: 600;
  font-size: 14px;
}
.product__filters__list:hover {
  cursor: pointer;
}
.product__filters__item {
  font-weight: 400;
  font-size: 13px;
  line-height: 210%;
}
.product__filters__item__category {
  margin-left: 20px;
}/*# sourceMappingURL=style.css.map */